VITE_SUPABASE_URL=https://jqqbiubmqviewytmgoyx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpxcWJpdWJtcXZpZXd5dG1nb3l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc3NDc3NjYsImV4cCI6MjA4MzMyMzc2Nn0.DXBjJF5Dl_fuYk7tDWOsaop6xhdC51pJH4DJrdmXsLw